/**THE GRID CONTAINER */
.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  position: relative;
  top: 40px;
  left: 15rem;
}
.common-properties {
  height: 25rem;
  border-radius: 10px;
  font-size: 20px;
}
/**THE LEFT HAND SIDE */
.left-side {
  text-align: center;
  color: white;
  font-family: Consolas;
  background-image: linear-gradient(
    to bottom,
    rgb(95, 63, 252),
    rgb(62, 50, 238)
  );
  border: 1px solid black;
  padding-bottom: 8rem;
  position: relative;
  left: 2px;
  bottom: 20px;
}
.left-flex {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 18px;
}
.big-circle {
  background-image: linear-gradient(
    to bottom,
    rgb(72, 39, 213),
    rgb(69, 51, 235)
  );
  border: 1px solid black;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: 6rem 0 0px;
  text-align: center;
  position: relative;
  left: 5rem;
  bottom: 2rem;
}

.big-font {
  margin-top: 5rem;
  font-size: 70px;
  font-family: Arial;
  position: relative;
  bottom: 7px;
}
.medium-font {
  font-size: 30px;
  margin-top: 0px;
}
.transparent {
  color: hsl(241, 100%, 89%);
}
.space {
  position: relative;
  top: 25px;
}
/**THE RIGHT HAND SIDE*/
.right-side {
  text-align: left;
  background-color: rgb(255, 255, 255);
  color: initial;
  border: 1px solid rgb(185, 183, 183);
  padding-bottom: 8rem;
  font-family: Arial;
  font-weight: bold;
  position: relative;
  left: 3px;
  bottom: 20px;
}
.right-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 29px;
}
.space-again {
  position: relative;
  left: 20px;
}
.metrics {
  text-wrap: nowrap;
  word-spacing: 12rem;
  color: black;
  font-family: initial;
  font-size: 15px;
  position: relative;
  top: 20px;
  border: 1px solid black;
  padding: 25px 20rem 25px 10px;
  border-radius: 10px;
  margin: 0px 10px;
}
.continue-item {
  color: white;
  background-color: rgb(48, 59, 89);
  text-align: center;
  margin: 4rem;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  bottom: 1.2rem;
  font-weight: lighter;
  animation: bounce 0.5s linear infinite;
}
.continue-item:hover {
  background-color: white;
  color: green;
  cursor: pointer;
}
@keyframes bounce {
  from,
  to {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
}
.position-img {
  position: relative;
  display: inline;
  top: 5px;
  margin-right: 10px;
}
.no-space {
  padding-left: 0;
  position: relative;
  right: 12rem;
}
.reaction {
  color: rgb(228, 102, 105);
  background-color: rgb(255, 246, 245);
  border: 1px solid red;
  font-size: medium;
}
.memory {
  color: rgb(233, 182, 62);
  background-color: rgb(255, 251, 242);
  border: 1px solid rgb(188, 188, 10);
  font-size: medium;
}
.verbal {
  color: rgb(67, 180, 150);
  background-color: rgb(242, 251, 250);
  border: 1px solid green;
  font-size: medium;
}
.visual {
  color: rgb(48, 55, 150);
  background-color: rgb(243, 243, 253);
  border: 1px solid blue;
  font-size: medium;
}

/**EXTERNAL FONTS*/
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}
